body {
  width: 600px;
  height: 520px;
  margin: 0;
  padding: 0;
}

#popup {
  position: relative;
  height: 100%;
  padding: 0 20px 20px;

  .main {
    padding: 10px;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
  }
}

.no-rule-form-label {
  margin-left: 11px;
}

.form-innner-item {
  display: inline-block;
  margin: 0 8px;
}
