:global {
  .cache {
    .ant-alert {
      margin-bottom: 10px;

      .ant-alert-message {
        color: gray;
      }
    }

    .ant-col-6 {
      height: 32px;
      line-height: 32px;

      .ant-radio-wrapper {
        line-height: 32px;
      }
    }
  }
}
